*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 33px;
}
.head{
    display: flex;
    justify-content:space-between;
}
body{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(BLACK,grey);
    background-position: center;
    background-size: cover;
    position: relative;
}
img{
    margin-left: 20px;
    margin-top: 20px;
    border: 3px solid rgb(186, 186, 186);
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items:stretch;
}
.links{
    flex: 1;
    text-align: right;
}
.links ul li{

    list-style: none;
    display: inline-block;
    padding: 30px 30px 100px 50px;
    position: relative;
}
.links ul li a{
    color: aqua;
    text-decoration: none;
    font-size: 18px;
}
.links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:aqua;
    display: block;
    margin: auto;
    transition: 0.5s;


}
.links ul li:hover::after{
    width: 100%;
}
p{
    padding: 100px 30px 150px 10px;
    color: #c5c6c7;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
i{
    color: #c5c6c7;
}
#clglink{
    text-decoration: none;
    color: #c5c6c7;
    
}
.about{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #c5c6c7;
    margin: 20px 40px;
}
.lang{
    margin-left: 150px;
    background: rgb(78, 78, 78);
    border: 2px solid rgb(165, 165, 165);
    border-radius: 20px;
    padding:20px 40px;
}
.lang ul li{
    font-size: 20px;
    margin: 10px 100px;
    list-style:square;
}
.area{
    margin-right: 100px;
    background-color: rgb(78, 78, 78);
    border: 2px solid rgb(165, 165, 165);
    border-radius: 20px;
    padding:20px 60px;
}
.area ul li{
    font-size: 20px;
    margin: 10px 20px;
    list-style:square;
}